@model IEnumerable<DSKMCosmetic.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Management</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i></a>
            <span class="breadcrumb-item active">Orders List</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="input-group m-b-10 m-r-15">
                        <span class="input-group-prepend">
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </span>
                        <input id="keyword" name="keyword" type="search" class="form-control rounded" placeholder="Search Products" aria-label="Search" aria-describedby="search-addon" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminProducts" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i>Add Product</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table" >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Shipping Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in ViewBag.Orders)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.OrderDate</td>
                            <td>@order.Status</td>
                            <td>@order.TotalAmount vnđ</td>
                            <td>@order.ShippingAddress</td>
                            <td>
                                <a href="shoppingcart" class="ht-btn black-btn">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
